<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo-dark.svg" alt="logo" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted" style="width: 100%">
            <img src="assets/images/authentication/google-icon.svg" alt="google" />
            Sign Up With Google
          </button>
          <div class="saprator mt-3">
            <span>or</span>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="addUser()">
            <div class="form-floating mb-3">
              <input matInput type="nombreCompleto" class="form-control" formControlName="nombreCompleto" placeholder="Nombre completo" />
              <label>Nombre Completo</label>
            </div>
          
            <div class="form-floating mb-3">
              <input matInput type="nombreUsuario" class="form-control" formControlName="nombreUsuario" placeholder="Nombre de usuario" />
              <label>Nombre de Usuario</label>
            </div>
          
            <div class="form-floating mb-3">
              <input matInput type="email" class="form-control" formControlName="email" placeholder="Correo electrónico" />
              <label>Email</label>
            </div>
          
            <div class="form-floating mb-3">
              <input matInput type="password" class="form-control" formControlName="password" placeholder="Contraseña" />
              <label>Password</label>
            </div>
          
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary p-2">Sign Up</button>
            </div>
          </form>
          
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/guest/login']">Already have an account?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
